body {
    background-color: #ff3d4e;
    color: #ffffff;
    font-family: 'Helvetica Neue', 'Open Sans', Helvetica, Arial, sans-serif;
}

.row {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}